.quick-menu-two {
    width: 75%;
    margin: auto;
    
    .quick-menu-two-box {
        height: 400px;
        width: 45%;
        border: thin solid lightgray;
        
        h2 {
            text-align: center;
        }
    }   
}