h2 {
    border-bottom: thin solid gray;
    padding-bottom: 10px;
    text-align: center;
}

.view-options {
    padding-right: 10px;
    float: right;
}

.view-options i {
    margin-right: 5px;
}

.view-options i:hover {
    cursor: pointer;
}