<div class="recipe-full-container">
    <img ng-if="recipe.picture" ng-src="{{recipe.picture}}" alt="Recipe Picture"/>
    
    <h2>{{recipe.name}}</h2>
    <div class="recipe-info-container">
        <div class="left-side">
            <p>{{recipe.description}}</p>
        </div>
        <div class="right-side">
            <i class="fa fa-clock-o"></i>
            &nbsp&nbsp {{recipe.prepTime+recipe.cookTime}}&nbsp min
            <br/>
            Prep: {{recipe.prepTime || "0"}} min
            <br/>
            Cook: {{recipe.cookTime || "0"}} min
        </div>
        <div class="stretch"></div>
    </div>
    <h4>Ingredients</h4>
    <p class="recipe-full-ingredients" ng-repeat="ingredient in recipe.ingredients track by $index">
        {{ingredient}}
    </p>
    <h4>Directions</h4>
    <div class="recipe-full-directions" ng-repeat="direction in recipe.directions track by $index">
        <span class="direction-number">
            {{$index+1}}
        </span>
        <span>
            {{direction}}
        </span>
        <div class="stretch"></div>
    </div>
</div>