<recipe-full recipe="recipe"></recipe-full>

<div class="recipe-comments-container">
    <h2>Comments</h2>
    <button ng-show="!showNewComment" ng-click="showNewComment = true">Write A Comment</button>
    <div ng-show="showNewComment">
        <textarea name="area" ng-model="newCommentText"></textarea>
        <button ng-click="addComment(newCommentText)">Submit Comment</button>
    </div>
    <comment ng-repeat="comment in recipe.comments | orderBy: '-date'" comment-data="comment"></comment>
    <p ng-show="!recipe.comments.length">No Comments</p>
</div>