<my-header></my-header>
<div class="loginBackground">
	<div class="loginBackgroundColor"></div>
	<div class="loginToggleBox">
		<div class="loginButtons">
			<div ng-class='{loginSelected: showSignUp}' class="loginToggle loginLeft" ng-click="showSignUp = true"><a class='fa fa-user-plus'></a>&nbsp Sign Up</div>
			<div ng-class='{loginSelected: !showSignUp}' class="loginToggle loginRight" ng-click="showSignUp = false"><a class='fa fa-user'></a>&nbsp Sign In</div>
		</div>
		<div class='loginBox' ng-show="showSignUp">
			<form ng-submit="localSignup(newUser)">
				<input id='newUname' type='text' ng-model="newUser.username" placeholder="username"/><br/>
				<input id='newEmail' type='email' ng-model="newUser.contactEmail" placeholder="email"/><br/>
				<input id='newPword' type='password' ng-model="newUser.password" placeholder="password"/><br/>
				<input id='confirmPword' type='password' ng-model="confirmPassword" placeholder="confirm password"/><br/>
				<button class='login-button' type="submit">Sign Up</button>
			</form>
            <p> - Or - </p>
            <a href="/auth/google"><button class='login-button'>Login With Google</button></a>
		</div>
		<div class='loginBox' ng-show="!showSignUp">
			<form ng-submit="localLogin(tryUser)">
				<input id='loginUname' type='text' ng-model="tryUser.username" placeholder="email"/><br/>
				<input id='loginPword' type='password' ng-model="tryUser.password" placeholder="password"/><br/>
				<button class='login-button' type="submit">Sign In</button>
			</form>
            <a href="/auth/google"><button class='login-button'>Login With Google</button></a>
		</div>
		<div class='stretch'><p></p></div>
	</div>
</div>