<my-header></my-header>

<div class="quick-menu-two" ng-hide="showOptions">
    <div class="quick-menu-two-box left" ng-click="showNewUserRecipe=true;showNewLinkRecipe=false;showOptions=true;">
        <h2>Add Your Own Recipe</h2>
    </div>
    <div class="quick-menu-two-box right" ng-click="showNewLinkRecipe=true;showNewUserRecipe=false;showOptions=true;">
        <h2>Add From A Link</h2>
    </div>
    <div class="stretch"></div>
</div>
<div ng-show="showNewUserRecipe">
    <button ng-click="showNewLinkRecipe=true;showNewUserRecipe=false;">Save from Link</button>
</div>
<div ng-show="showNewLinkRecipe">
    <button ng-click="showNewUserRecipe=true;showNewLinkRecipe=false;">Save Custom Recipe</button>
</div>
<new-user-recipe ng-show="showNewUserRecipe"></new-user-recipe>
<new-link-recipe ng-show="showNewLinkRecipe"></new-link-recipe>